venv/
env/
.venv/
.env/
*.pt
app/model/trainedModel.pt
app/connectAPI/service/model/trainedModel.pt
__pycache__/
*/__pycache__/
*.pyc
*.pyo
*.pyd
.git/
.github/
.vscode/
.idea/
*.mp3
*.wav
*.pcm
*.mp4
*.data
*.pkl
*.h5
logs/
*.log
.DS_Store